
.App {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh;
  }
  
.login-pop-up {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .login-pop-up .div {
    background-color: #ffffff;
    height: 1109px;
    position: relative;
    width: 1509px;
  }
  
  .login-pop-up .group {
    height: 745px;
    left: 893px;
    position: absolute;
    top: 137px;
    width: 420px;
  }
  
  .login-pop-up .frame {
    height: 745px;
    position: relative;
  }
  
  .login-pop-up .text-wrapper {
    color: #000000;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 78px;
    letter-spacing: -0.6px;
    line-height: 36px;
    position: absolute;
    top: -1px;
    width: 270px;
  }
  
  .login-pop-up .frame-2 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    height: 23px;
    justify-content: center;
    left: 54px;
    position: absolute;
    top: 678px;
  }
  
  .login-pop-up .text-wrapper-2 {
    color: var(--gray-3);
    font-family: "Nunito Sans-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -2px;
    position: relative;
    width: fit-content;
  }
  
  .login-pop-up .text-wrapper-3 {
    color: #000000;
    font-family: "Nunito Sans-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -2px;
    position: relative;
    width: fit-content;
  }
  
  .login-pop-up .frame-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    left: 26px;
    position: absolute;
    top: 108px;
  }
  
  .login-pop-up .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    position: relative;
  }
  
  .login-pop-up .text-wrapper-4 {
    color: #515151;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .login-pop-up .p {
    color: #515151;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .login-pop-up .sign-in-with-email {
    color: transparent;
    font-family: "Nunito Sans-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 90px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 216px;
  }
  
  .login-pop-up .span {
    color: #dddddd;
  }
  
  .login-pop-up .text-wrapper-5 {
    color: #a1a1a1;
  }
  
  .login-pop-up .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    left: 0;
    position: absolute;
    top: 270px;
  }
  
  .login-pop-up .frame-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
  }
  
  .login-pop-up .frame-6 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
  }
  
  .login-pop-up .text-wrapper-6 {
    color: var(--gray-3);
    font-family: "Nunito Sans-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .login-pop-up .div-wrapper {
    align-items: center;
    border: 1px solid;
    border-color: #ded2d9;
    border-radius: 5px;
    display: flex;
    flex: 0 0 auto;
    gap: 13px;
    padding: 13px 10px;
    position: relative;
    width: 420px;
  }
  
  .login-pop-up .text-wrapper-7 {
    color: var(--gray-5);
    font-family: "Nunito Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .login-pop-up .frame-7 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .login-pop-up .frame-8 {
    align-items: center;
    border: 1px solid;
    border-color: #ded2d9;
    border-radius: 5px;
    display: flex;
    flex: 0 0 auto;
    gap: 13px;
    padding: 18px 10px 13px;
    position: relative;
    width: 420px;
  }
  
  .login-pop-up .text-wrapper-8 {
    color: var(--gray-5);
    font-family: "Nunito Sans-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .login-pop-up .frame-9 {
    align-items: center;
    background-color: #200a17;
    border-radius: 6px;
    display: flex;
    flex: 0 0 auto;
    gap: 13px;
    justify-content: center;
    padding: 13px 10px 12px;
    position: relative;
    width: 420px;
  }
  
  .login-pop-up .text-wrapper-9 {
    color: #ffffff;
    font-family: "Nunito Sans-ExtraBold", Helvetica;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .login-pop-up .icon-circle-x {
    height: 23px;
    left: 1444px;
    position: absolute;
    top: 30px;
    width: 24px;
  }
  
  .login-pop-up .overlap-group {
    height: 813px;
    left: 83px;
    position: absolute;
    top: 74px;
    width: 739px;
  }
  
  .login-pop-up .image {
    height: 416px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 377px;
  }
  
  .login-pop-up .img {
    height: 503px;
    left: 100px;
    mix-blend-mode: darken;
    object-fit: cover;
    position: absolute;
    top: 310px;
    width: 639px;
  }

