.step1n2 {
    height: 1218px;
    width: 1305px;
    top: 900px;
}

.step1n2 .overlap {
    height: 1039px;
    position: relative;
    top: 179px;
}

.step1n2 .frame {
    height: 100px;
    left: -100px;
    position: absolute;
    width: 434px;
    top:400px;
}

.step1n2 .overlap-group {
    height: 100px;
    position: relative;
    top: -1px;
}

.step1n2 .eat-something-today {
    color: #000000;
    font-family: "Montserrat-Light", Helvetica;
    font-size: 40px;
    font-weight: 300;
    left: 0;
    letter-spacing: -0.6px;
    line-height: 47px;
    position: absolute;
    top: 53px;
    white-space: nowrap;
}

.step1n2 .text-wrapper {
    color: #000000;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 128px;
    letter-spacing: 0;
    line-height: 72px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 152px;
}

.step1n2 .div {
    height: 1021px;
    left: -150px;
    position: absolute;
    top: 550px;
    width: 1002px;
}

.step1n2 .component {
    height: 705px;
    left: 0;
    position: absolute;
    top: 316px;
    width: 643px;
}

.step1n2 .photo-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    height: 537px;
    left: 2px;
    position: absolute;
    top: 178px;
    width: 641px;
}

.step1n2 .photo {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    height: 537px;
    left: -1px;
    position: relative;
    top: -1px;
}

.step1n2 .text-wrapper-2 {
    color: #000000;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 11px;
    letter-spacing: 0;
    line-height: 60px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 388px;
}

.step1n2 .p {
    color: #000000;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 11px;
    letter-spacing: -0.48px;
    line-height: 36px;
    position: absolute;
    top: 66px;
    width: 632px;
}

.step1n2 .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    gap: 8px;
    left: 0;
    position: absolute;
    top: 130px;
}

.step1n2 .overlap-group-wrapper {
    height: 39px;
    position: relative;
    width: 118px;
}

.step1n2 .overlap-group-2 {
    height: 39px;
    position: relative;
    top: -1px;
}

.step1n2 .rectangle {
    background-color: #000000;
    border-radius: 14.5px;
    height: 29px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 118px;
}

.step1n2 .text-wrapper-3 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 20px;
    letter-spacing: -0.23px;
    line-height: 36px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 80px;
}

.step1n2 .overlap-wrapper {
    height: 36px;
    position: relative;
    width: 118px;
}

.step1n2 .overlap-2 {
    height: 36px;
    position: relative;
    top: -1px;
}

.step1n2 .text-wrapper-4 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 18px;
    letter-spacing: -0.23px;
    line-height: 36px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.step1n2 .overlap-3 {
    height: 36px;
    position: relative;
}

.step1n2 .rectangle-2 {
    background-color: #000000;
    border-radius: 14.5px;
    height: 29px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 118px;
}

.step1n2 .text-wrapper-5 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 30px;
    letter-spacing: -0.23px;
    line-height: 36px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.step1n2 .div-wrapper {
    height: 36px;
    left: 448px;
    position: absolute;
    top: 8px;
    width: 195px;
}

.step1n2 .rectangle-3 {
    background-color: #000000;
    border-radius: 14.5px;
    height: 29px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 195px;
}

.step1n2 .text-wrapper-6 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 42px;
    letter-spacing: -0.23px;
    line-height: 36px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.step1n2 .arrow {
    height: 368px;
    left: 561px;
    object-fit: cover;
    position: absolute;
    top: -180px;
}

.step1n2 .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
    left: 600px;
    position: absolute;
    top: 800px;
}

.step1n2 .text-wrapper-7 {
    color: #000000;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    height: 76.91px;
    letter-spacing: 0;
    line-height: 72px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 160.63px;
}

.step1n2 .text-wrapper-8 {
    color: #000000;
    font-family: "Montserrat-Light", Helvetica;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -0.6px;
    line-height: 47px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.step1n2 .text-wrapper-9 {
    color: #000000;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 64px;
    font-weight: 700;
    height: 102.55px;
    letter-spacing: 0;
    line-height: 96px;
    position: relative;
    white-space: nowrap;
    width: 444.76px;
}

.step1n2 .text-wrapper-10 {
    color: #000000;
    font-family: "Montserrat-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    height: 52px;
    letter-spacing: -0.48px;
    line-height: 47px;
    position: relative;
    white-space: nowrap;
    width: 553px;
}

.step1n2 .search-bar-MR {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.step1n2 .label {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 100px;
    height: 41.15px;
    position: relative;
    width: 470.44px;
}

.step1n2 .text-wrapper-11 {
    color: #0000004c;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 24px;
    letter-spacing: -0.23px;
    line-height: 36px;
    position: absolute;
    top: 4px;
    white-space: nowrap;
    width: 240px;
}

.step1n2 .vector {
    height: 22px;
    left: 427px;
    position: absolute;
    top: 10px;
    width: 23px;
}

.step1n2 .clicked-box-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    position: relative;
}

.step1n2 .clicked-box {
    height: 160.91px;
    position: relative;
    width: 606.47px;
}

.step1n2 .details-box {
    align-items: center;
    display: flex;
    gap: 17px;
    height: 109px;
    justify-content: center;
    left: 22px;
    position: absolute;
    top: 52px;
    width: 563px;
}

.step1n2 .box {
    height: 109px;
    position: relative;
    width: 185px;
}

.step1n2 .overlap-group-3 {
    background-color: #5ee7fa;
    border-radius: 11px;
    box-shadow: 0px 4px 4px #00000040;
    height: 109px;
    position: relative;
    width: 173px;
}

.step1n2 .text-wrapper-12 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 20px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 11px;
    white-space: nowrap;
}

.step1n2 .text-wrapper-13 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 20px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 36px;
    white-space: nowrap;
}

.step1n2 .text-wrapper-14 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 20px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 62px;
    white-space: nowrap;
}

.step1n2 .text-wrapper-15 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 131px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
}

.step1n2 .text-wrapper-16 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 130px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 38px;
    white-space: nowrap;
}

.step1n2 .text-wrapper-17 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 130px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 64px;
    white-space: nowrap;
}

.step1n2 .box-2 {
    height: 107px;
    position: relative;
    width: 189.97px;
}

.step1n2 .overlap-4 {
    background-color: #c2da8d80;
    border-radius: 11px;
    box-shadow: 0px 4px 4px #00000040;
    height: 107px;
    position: relative;
    width: 178px;
}

.step1n2 .text-wrapper-18 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 15px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 10px;
    white-space: nowrap;
    width: 89px;
}

.step1n2 .text-wrapper-19 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 15px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 35px;
    white-space: nowrap;
    width: 51px;
}

.step1n2 .text-wrapper-20 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 15px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 61px;
    white-space: nowrap;
    width: 75px;
}

.step1n2 .text-wrapper-21 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 134px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 7px;
    white-space: nowrap;
    width: 22px;
}

.step1n2 .text-wrapper-22 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 134px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 33px;
    white-space: nowrap;
    width: 22px;
}

.step1n2 .text-wrapper-23 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 134px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 59px;
    white-space: nowrap;
    width: 22px;
}

.step1n2 .box-3 {
    height: 107px;
    margin-right: -12px;
    position: relative;
    width: 189.97px;
}

.step1n2 .overlap-5 {
    background-color: #ea143b80;
    border-radius: 11px;
    box-shadow: 0px 4px 4px #00000040;
    height: 107px;
    position: relative;
    width: 178px;
}

.step1n2 .text-wrapper-24 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 15px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 34px;
    width: 78px;
}

.step1n2 .text-wrapper-25 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    left: 15px;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: absolute;
    top: 60px;
    width: 78px;
}

.step1n2 .food {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: 606px;
}

.step1n2 .rectangle-4 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 11px;
    box-shadow: 0px 4px 4px #00000040;
    height: 37.91px;
    position: relative;
    width: 606.47px;
}

.step1n2 .frame-4 {
    align-items: center;
    display: inline-flex;
    gap: 41px;
    left: 17px;
    position: absolute;
    top: 6px;
}

.step1n2 .radio {
    height: 20px;
    position: relative;
    width: 20px;
}

.step1n2 .frame-5 {
    align-items: center;
    display: flex;
    gap: 41px;
    position: relative;
    width: 507px;
}

.step1n2 .text-wrapper-26 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 26px;
    letter-spacing: -0.24px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    width: 130px;
}

.step1n2 .text-wrapper-27 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 25.99px;
    letter-spacing: -0.24px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    width: 188.17px;
}

.step1n2 .text-wrapper-28 {
    color: #000000;
    font-family: "Poppins-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 25.99px;
    letter-spacing: -0.24px;
    line-height: 20px;
    margin-right: -81.35px;
    margin-top: -1px;
    position: relative;
    width: 188.17px;
}
