body {
  overflow-x: hidden;
}

.element {
  align-items: center;
  background-color: #000000;
  display: flex;
  gap: 10px;
  justify-content: space-between; /* Space elements apart horizontally */
  padding: 10px 10px 10px 10px; /* Adjusted right and left padding */
  position: relative;
  width: 100% ;
  align-items: center;
}
  
  .element .care-calories {
    color: #ffffff;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 35px;
    letter-spacing: -0.3px;
    line-height: 36px;
    position: relative;
    white-space: nowrap;
    width: 197px;
  }
  
  .element .navigation {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 40px;
    justify-content: center;
    position: relative;
  }
  
  .element .home {
    height: 24px;
    position: relative;
    width: 62px;
  }
  
  .element .text-wrapper {
    color: white;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .element .meal-record {
    height: 24px;
    position: relative;
    width: 121px;
  }
  
  
  .element .health-tips {
    height: 24px;
    position: relative;
    width: 103px;
  }
  
  .element .div {
    color: white;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    width: 101px;
  }
  
  .element .recipe {
    height: 24px;
    position: relative;
    width: 65px;
  }
  
  .element .text-wrapper-2 {
    color: white;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    width: 63px;
  }
  
  .element .company {
    height: 24px;
    position: relative;
    width: 80.33px;
  }
  
  .element .text-wrapper-3 {
    color: white;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    width: 78px;
  }
  
  .element .order-food {
    height: 24px;
    margin-right: -2px;
    position: relative;
    width: 107px;
  }
  
  .element .text-wrapper-4 {
    color: white;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    width: 105px;
  }
  
  .element .cart {
    height: 25px;
    right: 0;
  }

  .element .ellipse {
    height: 57px;
  object-fit: cover;
  width: 56px; 
  left: -40px; /* Adjusted left position by -20px */
  }
  .dropdown {
  overflow: hidden;
  float: right;
  z-index: 99;

  

}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding-right: 50px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
  z-index: 99;
  padding-right: 10px;
  left: initial;
  top: 90%; /* Position the dropdown content below the .dropbtn */
  transform: translateX(-25%); /* Translate the dropdown horizontally to align with the ellipse */
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}