.onboarding {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  }
  
  .onboarding .overlap {
    height: 1109px;
    position: relative;
    width: 1546px;
  }
  
  .onboarding .onboarding-page {
    background-color: #ffffff;
    height: 1109px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1546px;
  }
  
  .onboarding .living-a-bad {
    color: #1e1e1e;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 180px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 268px;
    width: 439px;
  }
  
  .onboarding .group {
    height: 270px;
    left: 106px;
    position: absolute;
    top: 772px;
    width: 1527px;
  }
  
  .onboarding .overlap-group {
    height: 270px;
    position: relative;
    width: 1521px;
  }
  
  .onboarding .text-wrapper {
    color: #00000066;
    font-family: "Poppins-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 1226px;
  }
  
  .onboarding .div {
    color: #00000066;
    font-family: "Poppins-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 174px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 49px;
    width: 1226px;
  }
  
  .onboarding .p {
    color: #00000066;
    font-family: "Montserrat-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 295px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 98px;
    width: 1226px;
  }
  
  .onboarding .overlap-2 {
    height: 147px;
    left: 160px;
    position: absolute;
    top: 512px;
    width: 587px;
  }
  
  .onboarding .text-wrapper-2 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 543px;
  }
  
  .onboarding .arrow {
    height: 91px;
    left: 415px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 87px;
  }
  
  .onboarding .overlap-wrapper {
    height: 43px;
    left: 446px;
    position: absolute;
    top: 104px;
    width: 141px;
  }
  
  .onboarding .div-wrapper {
    background-color: #000000;
    border-radius: 100px;
    height: 43px;
    position: relative;
    width: 139px;
  }
  
  .onboarding .text-wrapper-3 {
    color: #ffffff;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 39px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 8px;
    white-space: nowrap;
    width: 61px;
  }
  
  .onboarding .image {
    height: 416px;
    left: 619px;
    object-fit: cover;
    position: absolute;
    top: 132px;
    width: 377px;
  }
  
  .onboarding .img {
    height: 503px;
    left: 896px;
    mix-blend-mode: darken;
    object-fit: cover;
    position: absolute;
    top: 356px;
    width: 639px;
  }
  